#slide-show {
    background-color: rgb(222, 225, 228);
    height: 350px;
}

#slide-show #image-area{
    width: 80%;
    height: 100%;
    margin-left:10%;
    margin-right: 10%;
    position: relative;
}

#slide-show #image-area #center-image {
    position: absolute;
    top: 0px;
    width: 0px;
    height: 100%; 
    width: 100%;
    background-color: black;
}

#slide-show #image-area #center-image img{
    height: 100%;
    width: 100%;
}

#left-arrow {
    position: absolute; 
    left: 3px;
    top: 40%;
    height: 35px;
    width: 35px;
    border: 2px solid black;
    border-radius: 15px;
    z-index:2;
    padding: 10px;
    cursor: pointer;
}


#right-arrow {
    position: absolute; 
    right: 3px;
    top: 40%;
    height: 35px;
    width: 35px;
    border: 2px solid  black;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
}

#right-arrow img,#left-arrow img{
    height: 100%;
    width: 100%;
}

#left-arrow img:hover, #right-arrow img:hover {
    transform: scale(2)
}




#content-area {
    overflow: hidden;
}

#main-area {
    width: 70%;
    box-sizing: border-box;
    background-color: rgb(232, 236, 239);
    float: left;
    min-height: 500px;
    padding: 5px;
}
#navigation{
    width: 30%;
    min-height: 500px;
    background-color: rgb(110, 109, 109);
    float:left;
    box-sizing: border-box;
}
#footer{
    height: 100px;
    background-color: rgb(231, 6, 6);
}

#main-area h1{
    color: darkred;
    font-family: arial;
}

#main-area #service-box {
    padding: 30px;
    margin: 20px;
    width: 90%;
}

#main-area #service-box .sbox{
    background-color: white;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px whitesmoke;
    font-family: arial;
    color: black;
    font-weight: bold;
    float: left;
    padding: 5px;
    margin: 20px;
}

.sbox h3{
    color: rgb(124, 6, 6);
    text-decoration: underline;
}

.sbox li{
    color: rgb(67, 65, 65);
}