body {
    margin: 0px;
    padding: 0px;
}
#header{
 background-color: rgb(231, 6, 6);
 color: white;
 padding: 30px;
 position: relative;
}

#header h1{
    border: 2px dashed white;
    display: inline-block;
    min-width: 100px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    font-family: Arial, 'Courier New', Courier, monospace;
}

#caption {
    font-style: italic;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Helvetica, sans-serif;
    margin-left: 100px;
}

#header ul {
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    font-size: 18px;
    font-weight: bold;
    margin-top: 50px;
    position: absolute;
    right: 0px;
    bottom: 0px;
  /*border: 1px solid white;*/
}

#header li{
    float: left;
    width: 160px;
    list-style-type: none;
}